data/robot*/

data/TestingData.csv
data/TrainingData.csv
data/ValidationData.csv

data/TrainingData.tfrecord

data/ValidationSet/robot1/
data/ValidationSet/robot2/
data/ValidationSet/robot3/
data/ValidationSet/DRCL_Data_Validation.txt
data/ValidationSet/Reduced_DRCL_Data_Validation.txt

data/TestSet/robot1/
data/TestSet/robot2/
data/TestSet/robot3/
data/TestSet/TestingDivide/T*.csv
data/TestSet/DRCL_Data_Test.txt
data/TestSet/Reduced_DRCL_Data_Test.txt

data/JointMotionRobot1
data/JointMotionRobot2

FCModulize/wandb/
FCModulize/result/
FCModulize/model/
